body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: gray;
}

button, div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border: 0;
}

div {
    padding: 5px;
}

button:hover {
    background-color: rgba(211, 211, 211, 0.7);
}

input {
    border: 0;
}

#calculator {
    min-width: 320px;
    min-height: 470px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    background-color: black;
}

.current-input {
    background-color: white;
    text-align: right;
    grid-column: span 4;
}

#equal {
    background-color: lightblue;
    grid-row: span 2;
}

#equal:hover {
    background-color: rgba(173, 216, 230, 0.7);
    grid-row: span 2;
}

#clear {
    background-color: red;
}

#clear:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

#zero {
    grid-column: span 2;
}